# OS files
**/*/.DS_Store
**/*/_MACOSX/

# IDE
.vscode/
.idea/

# node
node_modules/

# Python cache
*.pyc
__pycache__/
2021_02_08_14_31_ferrocene_data.csv
2021_02_08_14_31_FeCOOH_testing.png
2021_02_08_14_27_ferrocene_data.csv
2021_02_08_14_27_FeCOOH_testing.png
2021_02_08_14_02_ferrocene_data.csv
2021_02_08_14_02_FeCOOH_testing.png
2021_02_08_14_00_ferrocene_data.csv
2021_02_08_14_00_FeCOOH_testing.png
2021_02_08_13_43_ferrocene_data.csv
